.battery{
    width: 250px;
    height: 100px;
    border: 2px solid black;
    margin: 150px 0 0 35%;
    position: relative;
    box-sizing: border-box;

    &::after
    {
        content: "";
        width: 15px;
        height: 60px;
        border: 2px solid black;
        left: 246px;
        top: 18%;
        position: absolute;
       box-sizing: border-box;
    }

    &::before
    {
        content: "";
        width: 125px;
        height: 100px;
        background: rgb(0, 255, 170);
        border: 2px solid rgb(0, 0, 0);
       box-sizing: border-box;
        position: absolute;
        top: -2px;
        left: -2px;
    }
}